:root {
  /* Material Design 3 color schemes */
  --md-sys-source: #445059;
  
  --md-sys-primary: light-dark(#00658d, #83cfff);
  --md-sys-primary-rgb: light-dark(rgb(0, 101, 141), rgb(131, 207, 255));
  --md-sys-on-primary: light-dark(#ffffff, #00344b);
  --md-sys-on-primary-rgb: light-dark(rgb(255, 255, 255), rgb(0, 52, 75));
  --md-sys-primary-container: light-dark(#c6e7ff, #004c6b);
  --md-sys-primary-container-rgb: light-dark(rgb(198, 231, 255), rgb(0, 76, 107));
  --md-sys-on-primary-container: light-dark(#001e2e, #c6e7ff);
  --md-sys-on-primary-container-rgb: light-dark(rgb(0, 30, 46), rgb(198, 231, 255));
  --md-sys-secondary: light-dark(#4f616e, #b6c9d8);
  --md-sys-secondary-rgb: light-dark(rgb(79, 97, 110), rgb(182, 201, 216));
  --md-sys-on-secondary: light-dark(#ffffff, #21323e);
  --md-sys-on-secondary-rgb: light-dark(rgb(255, 255, 255), rgb(33, 50, 62));
  --md-sys-secondary-container: light-dark(#d2e5f4, #374955);
  --md-sys-secondary-container-rgb: light-dark(rgb(210, 229, 244), rgb(55, 73, 85));
  --md-sys-on-secondary-container: light-dark(#0b1d29, #d2e5f4);
  --md-sys-on-secondary-container-rgb: light-dark(rgb(11, 29, 41), rgb(210, 229, 244));
  --md-sys-tertiary: light-dark(#62597c, #ccc1e9);
  --md-sys-tertiary-rgb: light-dark(rgb(98, 89, 124), rgb(204, 193, 233));
  --md-sys-on-tertiary: light-dark(#ffffff, #332b4b);
  --md-sys-on-tertiary-rgb: light-dark(rgb(255, 255, 255), rgb(51, 43, 75));
  --md-sys-tertiary-container: light-dark(#e8ddff, #4a4263);
  --md-sys-tertiary-container-rgb: light-dark(rgb(232, 221, 255), rgb(74, 66, 99));
  --md-sys-on-tertiary-container: light-dark(#1e1635, #e8ddff);
  --md-sys-on-tertiary-container-rgb: light-dark(rgb(30, 22, 53), rgb(232, 221, 255));
  --md-sys-error: light-dark(#ba1a1a, #ffb4ab);
  --md-sys-error-rgb: light-dark(rgb(186, 26, 26), rgb(255, 180, 171));
  --md-sys-on-error: light-dark(#ffffff, #690005);
  --md-sys-on-error-rgb: light-dark(rgb(255, 255, 255), rgb(105, 0, 5));
  --md-sys-error-container: light-dark(#ffdad6, #93000a);
  --md-sys-error-container-rgb: light-dark(rgb(255, 218, 214), rgb(147, 0, 10));
  --md-sys-on-error-container: light-dark(#410002, #ffb4ab);
  --md-sys-on-error-container-rgb: light-dark(rgb(65, 0, 2), rgb(255, 180, 171));
  --md-sys-background: light-dark(#fcfcff, #191c1e);
  --md-sys-background-rgb: light-dark(rgb(252, 252, 255), rgb(25, 28, 30));
  --md-sys-on-background: light-dark(#191c1e, #e2e2e5);
  --md-sys-on-background-rgb: light-dark(rgb(25, 28, 30), rgb(226, 226, 229));
  --md-sys-surface: light-dark(#fcfcff, #191c1e);
  --md-sys-surface-rgb: light-dark(rgb(252, 252, 255), rgb(25, 28, 30));
  --md-sys-on-surface: light-dark(#191c1e, #e2e2e5);
  --md-sys-on-surface-rgb: light-dark(rgb(25, 28, 30), rgb(226, 226, 229));
  --md-sys-surface-variant: light-dark(#dde3ea, #41484d);
  --md-sys-surface-variant-rgb: light-dark(rgb(221, 227, 234), rgb(65, 72, 77));
  --md-sys-on-surface-variant: light-dark(#41484d, #c1c7ce);
  --md-sys-on-surface-variant-rgb: light-dark(rgb(65, 72, 77), rgb(193, 199, 206));
  --md-sys-outline: light-dark(#71787e, #8b9198);
  --md-sys-outline-rgb: light-dark(rgb(113, 120, 126), rgb(139, 145, 152));
  --md-sys-outline-variant: light-dark(#c1c7ce, #41484d);
  --md-sys-outline-variant-rgb: light-dark(rgb(193, 199, 206), rgb(65, 72, 77));
  --md-sys-shadow: light-dark(#000000, #000000);
  --md-sys-shadow-rgb: light-dark(rgb(0, 0, 0), rgb(0, 0, 0));
  --md-sys-scrim: light-dark(#000000, #000000);
  --md-sys-scrim-rgb: light-dark(rgb(0, 0, 0), rgb(0, 0, 0));
  --md-sys-inverse-surface: light-dark(#2e3133, #e2e2e5);
  --md-sys-inverse-surface-rgb: light-dark(rgb(46, 49, 51), rgb(226, 226, 229));
  --md-sys-inverse-on-surface: light-dark(#f0f1f3, #2e3133);
  --md-sys-inverse-on-surface-rgb: light-dark(rgb(240, 241, 243), rgb(46, 49, 51));
  --md-sys-inverse-primary: light-dark(#83cfff, #00658d);
  --md-sys-inverse-primary-rgb: light-dark(rgb(131, 207, 255), rgb(0, 101, 141));
  --md-sys-surface-container-lowest: light-dark(#ffffff, #0c0e10);
  --md-sys-surface-container-lowest-rgb: light-dark(rgb(255, 255, 255), rgb(12, 14, 16));
  --md-sys-surface-container-low: light-dark(#f3f3f6, #191c1e);
  --md-sys-surface-container-low-rgb: light-dark(rgb(243, 243, 246), rgb(25, 28, 30));
  --md-sys-surface-container: light-dark(#edeef0, #1d2022);
  --md-sys-surface-container-rgb: light-dark(rgb(237, 238, 240), rgb(29, 32, 34));
  --md-sys-surface-container-high: light-dark(#e7e8eb, #282a2c);
  --md-sys-surface-container-high-rgb: light-dark(rgb(231, 232, 235), rgb(40, 42, 44));
  --md-sys-surface-container-highest: light-dark(#e2e2e5, #333537);
  --md-sys-surface-container-highest-rgb: light-dark(rgb(226, 226, 229), rgb(51, 53, 55));
  
  /* Custom color "success" */
  --md-custom-success-color: light-dark(#006d3d, #00e385);
  --md-custom-success-color-rgb: light-dark(rgb(0, 109, 61), rgb(0, 227, 133));
  --md-custom-success-on-color: light-dark(#ffffff, #00391d);
  --md-custom-success-on-color-rgb: light-dark(rgb(255, 255, 255), rgb(0, 57, 29));
  --md-custom-success-color-container: light-dark(#5affa2, #00522c);
  --md-custom-success-color-container-rgb: light-dark(rgb(90, 255, 162), rgb(0, 82, 44));
  --md-custom-success-on-color-container: light-dark(#00210f, #5affa2);
  --md-custom-success-on-color-container-rgb: light-dark(rgb(0, 33, 15), rgb(90, 255, 162));
  
  /* Custom color "warning" */
  --md-custom-warning-color: light-dark(#4d6706, #b2d26b);
  --md-custom-warning-color-rgb: light-dark(rgb(77, 103, 6), rgb(178, 210, 107));
  --md-custom-warning-on-color: light-dark(#ffffff, #263500);
  --md-custom-warning-on-color-rgb: light-dark(rgb(255, 255, 255), rgb(38, 53, 0));
  --md-custom-warning-color-container: light-dark(#ceef84, #394e00);
  --md-custom-warning-color-container-rgb: light-dark(rgb(206, 239, 132), rgb(57, 78, 0));
  --md-custom-warning-on-color-container: light-dark(#151f00, #ceef84);
  --md-custom-warning-on-color-container-rgb: light-dark(rgb(21, 31, 0), rgb(206, 239, 132));
  
  /* Palette tone references */
  
  --md-ref-palette-primary100: #ffffff;
  --md-ref-palette-primary99: #fbfcff;
  --md-ref-palette-primary95: #e4f3ff;
  --md-ref-palette-primary90: #c6e7ff;
  --md-ref-palette-primary85: #a6dbff;
  --md-ref-palette-primary80: #83cfff;
  --md-ref-palette-primary75: #62c2fa;
  --md-ref-palette-primary70: #52b5ec;
  --md-ref-palette-primary65: #41a7dd;
  --md-ref-palette-primary60: #2e9acf;
  --md-ref-palette-primary55: #138dc1;
  --md-ref-palette-primary50: #007fb1;
  --md-ref-palette-primary45: #00729f;
  --md-ref-palette-primary40: #00658d;
  --md-ref-palette-primary35: #00587c;
  --md-ref-palette-primary30: #004c6b;
  --md-ref-palette-primary25: #00405b;
  --md-ref-palette-primary20: #00344b;
  --md-ref-palette-primary15: #00293c;
  --md-ref-palette-primary10: #001e2e;
  --md-ref-palette-primary5: #00131e;
  --md-ref-palette-primary0: #000000;
  
  --md-ref-palette-secondary100: #ffffff;
  --md-ref-palette-secondary99: #fbfcff;
  --md-ref-palette-secondary95: #e4f3ff;
  --md-ref-palette-secondary90: #d2e5f4;
  --md-ref-palette-secondary85: #c4d7e6;
  --md-ref-palette-secondary80: #b6c9d8;
  --md-ref-palette-secondary75: #a8bbca;
  --md-ref-palette-secondary70: #9baebc;
  --md-ref-palette-secondary65: #8ea0af;
  --md-ref-palette-secondary60: #8193a1;
  --md-ref-palette-secondary55: #748694;
  --md-ref-palette-secondary50: #677987;
  --md-ref-palette-secondary45: #5b6d7a;
  --md-ref-palette-secondary40: #4f616e;
  --md-ref-palette-secondary35: #435561;
  --md-ref-palette-secondary30: #374955;
  --md-ref-palette-secondary25: #2c3e4a;
  --md-ref-palette-secondary20: #21323e;
  --md-ref-palette-secondary15: #162833;
  --md-ref-palette-secondary10: #0b1d29;
  --md-ref-palette-secondary5: #01131d;
  --md-ref-palette-secondary0: #000000;
  
  --md-ref-palette-tertiary100: #ffffff;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary95: #f5eeff;
  --md-ref-palette-tertiary90: #e8ddff;
  --md-ref-palette-tertiary85: #dacef7;
  --md-ref-palette-tertiary80: #ccc1e9;
  --md-ref-palette-tertiary75: #beb3db;
  --md-ref-palette-tertiary70: #b0a5cd;
  --md-ref-palette-tertiary65: #a398bf;
  --md-ref-palette-tertiary60: #958bb1;
  --md-ref-palette-tertiary55: #887ea3;
  --md-ref-palette-tertiary50: #7b7296;
  --md-ref-palette-tertiary45: #6f6589;
  --md-ref-palette-tertiary40: #62597c;
  --md-ref-palette-tertiary35: #564d6f;
  --md-ref-palette-tertiary30: #4a4263;
  --md-ref-palette-tertiary25: #3f3657;
  --md-ref-palette-tertiary20: #332b4b;
  --md-ref-palette-tertiary15: #292140;
  --md-ref-palette-tertiary10: #1e1635;
  --md-ref-palette-tertiary5: #130b2a;
  --md-ref-palette-tertiary0: #000000;
  
  --md-ref-palette-neutral100: #ffffff;
  --md-ref-palette-neutral99: #fcfcff;
  --md-ref-palette-neutral95: #f0f1f3;
  --md-ref-palette-neutral90: #e2e2e5;
  --md-ref-palette-neutral85: #d3d4d7;
  --md-ref-palette-neutral80: #c5c6c9;
  --md-ref-palette-neutral75: #b7b9bb;
  --md-ref-palette-neutral70: #aaabae;
  --md-ref-palette-neutral65: #9c9ea0;
  --md-ref-palette-neutral60: #8f9193;
  --md-ref-palette-neutral55: #828486;
  --md-ref-palette-neutral50: #75777a;
  --md-ref-palette-neutral45: #696b6d;
  --md-ref-palette-neutral40: #5c5e61;
  --md-ref-palette-neutral35: #505355;
  --md-ref-palette-neutral30: #454749;
  --md-ref-palette-neutral25: #393c3e;
  --md-ref-palette-neutral20: #2e3133;
  --md-ref-palette-neutral15: #242628;
  --md-ref-palette-neutral10: #191c1e;
  --md-ref-palette-neutral5: #0f1113;
  --md-ref-palette-neutral0: #000000;
  
  --md-ref-palette-neutral-variant100: #ffffff;
  --md-ref-palette-neutral-variant99: #fbfcff;
  --md-ref-palette-neutral-variant95: #ebf1f8;
  --md-ref-palette-neutral-variant90: #dde3ea;
  --md-ref-palette-neutral-variant85: #cfd5dc;
  --md-ref-palette-neutral-variant80: #c1c7ce;
  --md-ref-palette-neutral-variant75: #b3b9c0;
  --md-ref-palette-neutral-variant70: #a5acb2;
  --md-ref-palette-neutral-variant65: #989fa5;
  --md-ref-palette-neutral-variant60: #8b9198;
  --md-ref-palette-neutral-variant55: #7e858b;
  --md-ref-palette-neutral-variant50: #71787e;
  --md-ref-palette-neutral-variant45: #656b71;
  --md-ref-palette-neutral-variant40: #585f65;
  --md-ref-palette-neutral-variant35: #4d5359;
  --md-ref-palette-neutral-variant30: #41484d;
  --md-ref-palette-neutral-variant25: #363c41;
  --md-ref-palette-neutral-variant20: #2b3136;
  --md-ref-palette-neutral-variant15: #20272c;
  --md-ref-palette-neutral-variant10: #161c21;
  --md-ref-palette-neutral-variant5: #0b1216;
  --md-ref-palette-neutral-variant0: #000000;
  
  --md-ref-palette-error100: #ffffff;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error85: #ffc7c0;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error75: #ff9f94;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error65: #ff7164;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error55: #f0443b;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error45: #cc2925;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error15: #540003;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error0: #000000;
}
