:root {
  /* Material Design 3 color schemes */
  --md-sys-source: #a0bcd3;
  
  --md-sys-primary: light-dark(#006591, #89ceff);
  --md-sys-primary-rgb: light-dark(rgb(0, 101, 145), rgb(137, 206, 255));
  --md-sys-on-primary: light-dark(#ffffff, #00344d);
  --md-sys-on-primary-rgb: light-dark(rgb(255, 255, 255), rgb(0, 52, 77));
  --md-sys-primary-container: light-dark(#c9e6ff, #004c6e);
  --md-sys-primary-container-rgb: light-dark(rgb(201, 230, 255), rgb(0, 76, 110));
  --md-sys-on-primary-container: light-dark(#001e2f, #c9e6ff);
  --md-sys-on-primary-container-rgb: light-dark(rgb(0, 30, 47), rgb(201, 230, 255));
  --md-sys-secondary: light-dark(#4f606e, #b7c9d9);
  --md-sys-secondary-rgb: light-dark(rgb(79, 96, 110), rgb(183, 201, 217));
  --md-sys-on-secondary: light-dark(#ffffff, #21323f);
  --md-sys-on-secondary-rgb: light-dark(rgb(255, 255, 255), rgb(33, 50, 63));
  --md-sys-secondary-container: light-dark(#d3e5f5, #384956);
  --md-sys-secondary-container-rgb: light-dark(rgb(211, 229, 245), rgb(56, 73, 86));
  --md-sys-on-secondary-container: light-dark(#0c1d29, #d3e5f5);
  --md-sys-on-secondary-container-rgb: light-dark(rgb(12, 29, 41), rgb(211, 229, 245));
  --md-sys-tertiary: light-dark(#64597c, #cec0e8);
  --md-sys-tertiary-rgb: light-dark(rgb(100, 89, 124), rgb(206, 192, 232));
  --md-sys-on-tertiary: light-dark(#ffffff, #352b4b);
  --md-sys-on-tertiary-rgb: light-dark(rgb(255, 255, 255), rgb(53, 43, 75));
  --md-sys-tertiary-container: light-dark(#eaddff, #4c4163);
  --md-sys-tertiary-container-rgb: light-dark(rgb(234, 221, 255), rgb(76, 65, 99));
  --md-sys-on-tertiary-container: light-dark(#1f1635, #eaddff);
  --md-sys-on-tertiary-container-rgb: light-dark(rgb(31, 22, 53), rgb(234, 221, 255));
  --md-sys-error: light-dark(#ba1a1a, #ffb4ab);
  --md-sys-error-rgb: light-dark(rgb(186, 26, 26), rgb(255, 180, 171));
  --md-sys-on-error: light-dark(#ffffff, #690005);
  --md-sys-on-error-rgb: light-dark(rgb(255, 255, 255), rgb(105, 0, 5));
  --md-sys-error-container: light-dark(#ffdad6, #93000a);
  --md-sys-error-container-rgb: light-dark(rgb(255, 218, 214), rgb(147, 0, 10));
  --md-sys-on-error-container: light-dark(#410002, #ffb4ab);
  --md-sys-on-error-container-rgb: light-dark(rgb(65, 0, 2), rgb(255, 180, 171));
  --md-sys-background: light-dark(#fcfcff, #191c1e);
  --md-sys-background-rgb: light-dark(rgb(252, 252, 255), rgb(25, 28, 30));
  --md-sys-on-background: light-dark(#191c1e, #e2e2e5);
  --md-sys-on-background-rgb: light-dark(rgb(25, 28, 30), rgb(226, 226, 229));
  --md-sys-surface: light-dark(#fcfcff, #191c1e);
  --md-sys-surface-rgb: light-dark(rgb(252, 252, 255), rgb(25, 28, 30));
  --md-sys-on-surface: light-dark(#191c1e, #e2e2e5);
  --md-sys-on-surface-rgb: light-dark(rgb(25, 28, 30), rgb(226, 226, 229));
  --md-sys-surface-variant: light-dark(#dde3ea, #41474d);
  --md-sys-surface-variant-rgb: light-dark(rgb(221, 227, 234), rgb(65, 71, 77));
  --md-sys-on-surface-variant: light-dark(#41474d, #c1c7ce);
  --md-sys-on-surface-variant-rgb: light-dark(rgb(65, 71, 77), rgb(193, 199, 206));
  --md-sys-outline: light-dark(#71787e, #8b9198);
  --md-sys-outline-rgb: light-dark(rgb(113, 120, 126), rgb(139, 145, 152));
  --md-sys-outline-variant: light-dark(#c1c7ce, #41474d);
  --md-sys-outline-variant-rgb: light-dark(rgb(193, 199, 206), rgb(65, 71, 77));
  --md-sys-shadow: light-dark(#000000, #000000);
  --md-sys-shadow-rgb: light-dark(rgb(0, 0, 0), rgb(0, 0, 0));
  --md-sys-scrim: light-dark(#000000, #000000);
  --md-sys-scrim-rgb: light-dark(rgb(0, 0, 0), rgb(0, 0, 0));
  --md-sys-inverse-surface: light-dark(#2e3133, #e2e2e5);
  --md-sys-inverse-surface-rgb: light-dark(rgb(46, 49, 51), rgb(226, 226, 229));
  --md-sys-inverse-on-surface: light-dark(#f0f0f3, #2e3133);
  --md-sys-inverse-on-surface-rgb: light-dark(rgb(240, 240, 243), rgb(46, 49, 51));
  --md-sys-inverse-primary: light-dark(#89ceff, #006591);
  --md-sys-inverse-primary-rgb: light-dark(rgb(137, 206, 255), rgb(0, 101, 145));
  --md-sys-surface-container-lowest: light-dark(#ffffff, #0c0e11);
  --md-sys-surface-container-lowest-rgb: light-dark(rgb(255, 255, 255), rgb(12, 14, 17));
  --md-sys-surface-container-low: light-dark(#f3f3f6, #191c1e);
  --md-sys-surface-container-low-rgb: light-dark(rgb(243, 243, 246), rgb(25, 28, 30));
  --md-sys-surface-container: light-dark(#edeef0, #1e2022);
  --md-sys-surface-container-rgb: light-dark(rgb(237, 238, 240), rgb(30, 32, 34));
  --md-sys-surface-container-high: light-dark(#e7e8eb, #282a2c);
  --md-sys-surface-container-high-rgb: light-dark(rgb(231, 232, 235), rgb(40, 42, 44));
  --md-sys-surface-container-highest: light-dark(#e2e2e5, #333537);
  --md-sys-surface-container-highest-rgb: light-dark(rgb(226, 226, 229), rgb(51, 53, 55));
  
  /* Custom color "success" */
  --md-custom-success-color: light-dark(#006d3d, #00e385);
  --md-custom-success-color-rgb: light-dark(rgb(0, 109, 61), rgb(0, 227, 133));
  --md-custom-success-on-color: light-dark(#ffffff, #00391d);
  --md-custom-success-on-color-rgb: light-dark(rgb(255, 255, 255), rgb(0, 57, 29));
  --md-custom-success-color-container: light-dark(#5affa2, #00522c);
  --md-custom-success-color-container-rgb: light-dark(rgb(90, 255, 162), rgb(0, 82, 44));
  --md-custom-success-on-color-container: light-dark(#00210f, #5affa2);
  --md-custom-success-on-color-container-rgb: light-dark(rgb(0, 33, 15), rgb(90, 255, 162));
  
  /* Custom color "warning" */
  --md-custom-warning-color: light-dark(#4d6706, #b2d26b);
  --md-custom-warning-color-rgb: light-dark(rgb(77, 103, 6), rgb(178, 210, 107));
  --md-custom-warning-on-color: light-dark(#ffffff, #263500);
  --md-custom-warning-on-color-rgb: light-dark(rgb(255, 255, 255), rgb(38, 53, 0));
  --md-custom-warning-color-container: light-dark(#ceef84, #394e00);
  --md-custom-warning-color-container-rgb: light-dark(rgb(206, 239, 132), rgb(57, 78, 0));
  --md-custom-warning-on-color-container: light-dark(#151f00, #ceef84);
  --md-custom-warning-on-color-container-rgb: light-dark(rgb(21, 31, 0), rgb(206, 239, 132));
  
  /* Palette tone references */
  
  --md-ref-palette-primary100: #ffffff;
  --md-ref-palette-primary99: #fcfcff;
  --md-ref-palette-primary95: #e5f2ff;
  --md-ref-palette-primary90: #c9e6ff;
  --md-ref-palette-primary85: #aadaff;
  --md-ref-palette-primary80: #89ceff;
  --md-ref-palette-primary75: #66c2fd;
  --md-ref-palette-primary70: #57b4ee;
  --md-ref-palette-primary65: #47a6e0;
  --md-ref-palette-primary60: #3599d2;
  --md-ref-palette-primary55: #1f8cc4;
  --md-ref-palette-primary50: #007fb5;
  --md-ref-palette-primary45: #0071a3;
  --md-ref-palette-primary40: #006591;
  --md-ref-palette-primary35: #00587f;
  --md-ref-palette-primary30: #004c6e;
  --md-ref-palette-primary25: #00405d;
  --md-ref-palette-primary20: #00344d;
  --md-ref-palette-primary15: #00293e;
  --md-ref-palette-primary10: #001e2f;
  --md-ref-palette-primary5: #00131f;
  --md-ref-palette-primary0: #000000;
  
  --md-ref-palette-secondary100: #ffffff;
  --md-ref-palette-secondary99: #fcfcff;
  --md-ref-palette-secondary95: #e5f2ff;
  --md-ref-palette-secondary90: #d3e5f5;
  --md-ref-palette-secondary85: #c5d7e7;
  --md-ref-palette-secondary80: #b7c9d9;
  --md-ref-palette-secondary75: #a9bbcb;
  --md-ref-palette-secondary70: #9cadbd;
  --md-ref-palette-secondary65: #8ea0af;
  --md-ref-palette-secondary60: #8193a2;
  --md-ref-palette-secondary55: #758695;
  --md-ref-palette-secondary50: #687987;
  --md-ref-palette-secondary45: #5c6d7b;
  --md-ref-palette-secondary40: #4f606e;
  --md-ref-palette-secondary35: #445462;
  --md-ref-palette-secondary30: #384956;
  --md-ref-palette-secondary25: #2d3d4a;
  --md-ref-palette-secondary20: #21323f;
  --md-ref-palette-secondary15: #172834;
  --md-ref-palette-secondary10: #0c1d29;
  --md-ref-palette-secondary5: #02131e;
  --md-ref-palette-secondary0: #000000;
  
  --md-ref-palette-tertiary100: #ffffff;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary95: #f6edff;
  --md-ref-palette-tertiary90: #eaddff;
  --md-ref-palette-tertiary85: #dccef7;
  --md-ref-palette-tertiary80: #cec0e8;
  --md-ref-palette-tertiary75: #c0b2da;
  --md-ref-palette-tertiary70: #b2a5cc;
  --md-ref-palette-tertiary65: #a598be;
  --md-ref-palette-tertiary60: #978bb0;
  --md-ref-palette-tertiary55: #8a7ea3;
  --md-ref-palette-tertiary50: #7d7196;
  --md-ref-palette-tertiary45: #706588;
  --md-ref-palette-tertiary40: #64597c;
  --md-ref-palette-tertiary35: #584d6f;
  --md-ref-palette-tertiary30: #4c4163;
  --md-ref-palette-tertiary25: #403657;
  --md-ref-palette-tertiary20: #352b4b;
  --md-ref-palette-tertiary15: #2a2040;
  --md-ref-palette-tertiary10: #1f1635;
  --md-ref-palette-tertiary5: #150b29;
  --md-ref-palette-tertiary0: #000000;
  
  --md-ref-palette-neutral100: #ffffff;
  --md-ref-palette-neutral99: #fcfcff;
  --md-ref-palette-neutral95: #f0f0f3;
  --md-ref-palette-neutral90: #e2e2e5;
  --md-ref-palette-neutral85: #d3d4d7;
  --md-ref-palette-neutral80: #c5c6c9;
  --md-ref-palette-neutral75: #b8b9bb;
  --md-ref-palette-neutral70: #aaabae;
  --md-ref-palette-neutral65: #9c9ea1;
  --md-ref-palette-neutral60: #8f9193;
  --md-ref-palette-neutral55: #828486;
  --md-ref-palette-neutral50: #75777a;
  --md-ref-palette-neutral45: #696b6d;
  --md-ref-palette-neutral40: #5d5e61;
  --md-ref-palette-neutral35: #515355;
  --md-ref-palette-neutral30: #454749;
  --md-ref-palette-neutral25: #393c3e;
  --md-ref-palette-neutral20: #2e3133;
  --md-ref-palette-neutral15: #242628;
  --md-ref-palette-neutral10: #191c1e;
  --md-ref-palette-neutral5: #0f1113;
  --md-ref-palette-neutral0: #000000;
  
  --md-ref-palette-neutral-variant100: #ffffff;
  --md-ref-palette-neutral-variant99: #fcfcff;
  --md-ref-palette-neutral-variant95: #ebf1f8;
  --md-ref-palette-neutral-variant90: #dde3ea;
  --md-ref-palette-neutral-variant85: #cfd5dc;
  --md-ref-palette-neutral-variant80: #c1c7ce;
  --md-ref-palette-neutral-variant75: #b3b9c0;
  --md-ref-palette-neutral-variant70: #a6acb3;
  --md-ref-palette-neutral-variant65: #989ea5;
  --md-ref-palette-neutral-variant60: #8b9198;
  --md-ref-palette-neutral-variant55: #7e848b;
  --md-ref-palette-neutral-variant50: #71787e;
  --md-ref-palette-neutral-variant45: #656b71;
  --md-ref-palette-neutral-variant40: #595f65;
  --md-ref-palette-neutral-variant35: #4d5359;
  --md-ref-palette-neutral-variant30: #41474d;
  --md-ref-palette-neutral-variant25: #363c42;
  --md-ref-palette-neutral-variant20: #2b3137;
  --md-ref-palette-neutral-variant15: #20262c;
  --md-ref-palette-neutral-variant10: #161c21;
  --md-ref-palette-neutral-variant5: #0b1216;
  --md-ref-palette-neutral-variant0: #000000;
  
  --md-ref-palette-error100: #ffffff;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error85: #ffc7c0;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error75: #ff9f94;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error65: #ff7164;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error55: #f0443b;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error45: #cc2925;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error15: #540003;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error0: #000000;
}
